:root {
  --brand-green: #1ba84b;
  --brand-green-dark: #117a36;
  --brand-blue: #1d4ed8;
  --brand-red: #e11d2a;
  --gris: #f8f9fa;

  --bs-primary: var(--brand-green);
  --bs-primary-rgb: 27, 168, 75;
  --bs-link-color: var(--brand-green);
  --bs-link-hover-color: var(--brand-green-dark);
}
.btn-primary {
  background-color: var(--brand-green);
  border-color: var(--brand-green);
}
.btn-danger {
  background-color: var(--brand-red);
  border-color: var(--brand-red);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f7fa;
  justify-content: center;
}

.card {
  border-radius: 14px;
}

.section-title {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #6c757d;
  margin-bottom: 10px;
}

.info-box {
  background: #f8f9fa;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.price {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--brand-green);
}

.badge-vip {
  background-color: var(--brand-blue);
}
